<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WB</title>
    <style>
        body {
            background-color: blueviolet;
            color: white;
            font-weight: bold;
        }
        .block {
            position: relative;
            left: 5%;
        }
        input {
            font-weight: bold; 
            background-color: darkmagenta; 
            color: white; 
            font-size: 2em;
            border:none;
            border-radius: 10px 10px 10px 10px;
            text-align:center;
        }
    </style>
</head>
<body>
<form>
    <div class="block"><input type="search" name="q" placeholder="Введите uid">
    <input type="submit" value="Найти" width="20%" style="width: 10%">
    </div>
</form>
</body>
</html>                                                                                                             
